/* Works tabs */
.tab-button {
    @apply w-48 py-1.5 text-center bg-zinc-800 font-normal font-roboto text-sm 3xl:text-xl text-main sm:w-32
        sm:text-sm;
}

.extract-tab-button {
    @apply rounded-tl-full;
}

.diving-tab-button {
    @apply rounded-br-full;
}

.tab-button svg {
    @apply stroke-main ml-2;
}

.tab-button * {
    @apply relative;
}

.tab-button-selected {
    @apply text-black;
}

.tab-button-selected svg {
    @apply stroke-black;
}

.select-indicator {
    @apply bg-main absolute w-48 h-full top-0 left-0 sm:w-32 sm:text-sm;
    transition: left 0.4s;
    border-top-left-radius: 9999px;
}