@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/RobotoRegular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/RobotoBold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/RobotoMedium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratBold.woff');
    font-weight: bold;
    font-style: normal;
}


/* Navigation */
.navigation {
    @apply min-h-1 bg-white flex items-center justify-center gap-x-16 flex-wrap gap-y-3 m:py-2
        xs:fixed xs:w-full xs:h-screen xs:gap-y-14 xs:z-10
        xs:-right-full xs:py-0;
    transition: right 0.5s;
}

.navigation-opened {
    @apply xs:right-0;
}

.navigation-menu-item {
    @apply after:transition-opacity after:duration-300 after:w-full after:block after:h-0.5 
        after:bg-main after:opacity-0 hover:after:opacity-100;
}

.navigation-menu-item a {
    @apply font-roboto font-normal text-base m:text-sm text-zinc-800;
}


/* Slider */
.arrow-button:disabled path {
    @apply fill-gray-300 opacity-10;
}

.slide:not([hidden]) {
    @apply w-full flex justify-between gap-x-2 items-start mb-14;
}


/* Get price form */
.get-price-form {
    @apply font-roboto w-[28%] min-w-2.5 lg:w-2/3;
}


/* Send question section */
.send-question-section {
    @apply pt-12 pb-32 bg-dark;
    background-image: url('assets/images/ordercallbg.svg');
    background-repeat: no-repeat;
    background-size: max(30%, 350px) 90%;
    background-position: left 100px center;
}

.call-button-image:hover path {
    opacity: 0;
}

.call-button-image:hover .phone-vector {
    opacity: 1;
}

.send-question-form {
    @apply w-[28%] min-w-2.5 sm:w-11/12;
}


/* Thanks pop-up */
.thanks-pop-up {
    @apply transition-opacity duration-500 absolute top-0 -left-2 justify-center 
        items-center bg-dark opacity-0 font-roboto text-gray-200 font-normal overflow-visible;
    height: 105%;
    width: 112%;;
    animation-name: pop-up-appearing;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}

@keyframes pop-up-appearing {
    100% {
        @apply opacity-100
    }
}


/* Social networks list */
.social-network-icon path {
    @apply transition-colors duration-300;
    fill: #e0e0e026
}

.social-network-icon:hover path {
    fill: #DF9130;
}


/* Components */
.graphic-button {
    @apply lg:w-28 lg:h-28
}

.graphic-button * {
    transition: fill 0.3s;
}

.graphic-button:hover path {
    @apply fill-main;
}

.graphic-button:hover .line-vector {
    @apply fill-transparent stroke-main;
}

.graphic-button:hover circle {
    @apply fill-zinc-800;
}

.graphic-button:hover .phone-vector {
    @apply fill-transparent stroke-main;
}

.text-field {
    @apply transition-all w-full py-4 bg-zinc-700 font-normal text-gray-200 text-sm 
    placeholder:opacity-50 focus:outline-none focus:border-main focus:border pl-4
}

.text-field[type="number"] {
    -moz-appearance: textfield;
}

.text-field[type="number"]::-webkit-inner-spin-button,
.text-field[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.button-with-stroke-icon {
    @apply transition-colors duration-300 py-4 bg-main font-roboto font-normal text-base hover:bg-zinc-700
        hover:text-main;
}

.button-with-fill-icon {
    @apply transition-colors duration-300 py-4 bg-main font-roboto font-normal text-base hover:bg-zinc-700
        hover:text-main;
}

.button-with-stroke-icon svg {
    display: inline-block;
    margin-left: 5px;
}

.button-with-fill-icon svg {
    display: inline-block;
    margin-left: 5px;
}

.button-with-stroke-icon:hover path {
    @apply stroke-main;
}

.button-with-fill-icon:hover path {
    @apply fill-main;
}

.arrow {
    @apply fill-gray-300 opacity-60 transition-opacity duration-300;
}

.arrow:hover {
    @apply opacity-100
}

.error-text {
    transition: margin-top 0.4s, opacity 0.5s;
    @apply font-normal text-sm 3xl:text-base text-red-500 text-center opacity-0;
}

.error-text-visible {
    @apply mt-3 opacity-100;
}

.data-processing-consent-button {
    @apply transition-colors duration-300 appearance-none w-4 h-4
        bg-white checked:bg-main rounded-full;
}